@media (min-width: 768px) {
  body {
    padding-top: 76px;
  }
}

@font-face {
  font-family: 'Back Out';
  src: url('{{ site.baseurl }}/fonts/BackOutWeb.otf') format('truetype');
  /* Add additional font formats if available (e.g., woff, woff2) */
}


/* Add styling where you want to use the Tribeca font */
body {
  font-family: 'Back Out', sans-serif;
  padding-top: 50px;
}

.card{
  width: 400px;
  height: 60px;
  margin: auto;
  color: #fff;
  font-size: large;
  border-radius: 20px;
  background-color: black;
}

.jumbotron {
  background: url('image.jpg');
  text-align: center;
  padding: 150px 0;
  margin-bottom: 0;
  height: 91.75vh;
}

.start-shopping-btn {
  margin-top: 200px;
  background-color: black;
  color: #fff;
}

.page-header {
  background: url('image.jpg');
  color: black;
  text-align: center;
  padding: 100px 0;
  margin-bottom: 20px;
}

.row{
  /*border: 5px solid;*/
  margin: auto;
}

.product-card{
  margin-bottom: 20px;
  border-radius: 25px;
  border: 3px solid black;
  text-align: center;
}

.card-img-top {
  background: url('image.jpg');
  height: 200px; /* Set the height of the product image */
  object-fit: cover; /* Ensure the image covers the entire space */
}

.card-title {
  font-size: 1.2rem;
  margin-top: 10px;
}

.card-text {
  color: #555;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
