body {
  padding-top: 56px;
}

@media (min-width: 768px) {
  body {
    padding-top: 76px;
  }
}

body {
  padding-top: 56px; /* Adjusted for fixed navbar height */
  height: 100vh;
}

.card{
  width: 300px;
  margin: auto;
}
.jumbotron {
  background: url("/assets/kenticloth.jpg");
  text-align: center;
  padding: 150px 0;
  margin-bottom: 0;
  height: 100vh;
}

.start-shopping-btn {
  margin-top: 200px;
  background-color: black;
  color: #fff;
}
